---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';

const projects = await getCollection('projects');
const allPosts = await getCollection(
  'posts',
  ({ data }) => data.draft !== true,
);

const postsByYears = allPosts
  .sort(
    (p1, p2) =>
      new Date(p2.data.created).valueOf() - new Date(p1.data.created).valueOf(),
  )
  .reduce(
    (acc, post) => {
      const year = new Date(post.data.created).getFullYear();

      if (!acc[year]) {
        acc[year] = [];
      }

      acc[year].push(post);

      return acc;
    },
    {} as Record<string, CollectionEntry<'posts'>[]>,
  );

const years = Object.keys(postsByYears).sort((a, b) => Number(b) - Number(a));
---

<Layout
  title="Нуриль Барадусов"
  description="Здесь я собираю всё, чем занимаюсь и пишу дневник.">
  <main>
    <section>
      <p>
        Привет! Меня зовут <span style="font-style: italic;">Нуриль</span>. Я
        работаю фронтендером в финтехе и живу в <s>Самаре</s> → <s>
          Санкт-Петербурге
        </s> → Тбилиси.
      </p>
      <p>
        Здесь я собираю всё, чем занимаюсь, пишу дневник, иногда публикую
        конспекты или статьи на темы, которые меня интересуют.
      </p>
      <p>
        Небольшие, но частые заметки пишу <a href="https://t.me/nuril_notes">
          в телеграм-канал
        </a>.
      </p>
      <p>
        Ещё веду список просмотренных <a href="/movies">фильмов</a> и прочитанных
        <a href="/books">книг</a>.
      </p>
      <p>
        Чем я сейчас занимаюсь можно посмотреть на странице <a href="/now">
          /now
        </a>.
      </p>
    </section>

    <section>
      <h2 id="b-contacts">Связь</h2>

      <ul>
        <li>
          <div>
            <p>
              телеграм-канал — <a href="https://t.me/nuril_notes">
                @nuril_notes
              </a>
            </p>
          </div>
        </li>

        <li>
          <div>
            <p>
              телеграм — <a href="https://t.me/baradusov">@baradusov</a>
            </p>
          </div>
        </li>

        <li>
          <div>
            <p>
              почта — <a href="mailto:baradusovnh@gmail.com">
                baradusovnh@gmail.com
              </a>
            </p>
          </div>
        </li>

        <li>
          <div>
            <p>
              гитхаб — <a href="https://github.com/baradusov">
                github.com/baradusov
              </a>
            </p>
          </div>
        </li>
      </ul>
    </section>

    <section>
      <h2 id="b-makings">Делаю</h2>

      <ul>
        {
          projects.map((project) => (
            <li>
              <div>
                <a href={project.data.url}>{project.data.name}</a>
                <p>{project.data.description}</p>
              </div>
            </li>
          ))
        }
      </ul>
    </section>

    <div class="feed">
      <h2 id="b-writings">Пишу</h2>

      {
        years.map((year) => {
          const posts = postsByYears[year];

          return (
            <section>
              <h3 class="year">{year}</h3>

              <ul style={{ gridColumnStart: 2, gridColumnEnd: -1 }}>
                {posts.map((post) => {
                  const dateCreated = new Date(post.data.created);
                  const monthCreated = String(
                    dateCreated.getMonth() + 1,
                  ).padStart(2, '0');
                  const dayCreated = String(dateCreated.getDate()).padStart(
                    2,
                    '0',
                  );

                  return (
                    <li>
                      <div style="display:flex;justify-content:space-between;">
                        <a href={`/posts/${post.id}`}>
                          <h3>{post.data.title}</h3>
                        </a>
                        <time date-time={`${post.data.created}T00:00:00.000Z`}>
                          {dayCreated}.{monthCreated}
                        </time>
                      </div>
                    </li>
                  );
                })}
              </ul>
            </section>
          );
        })
      }
    </div>
  </main>
</Layout>

<style>
  @media (min-width: 601px) {
    .year {
      position: sticky;
      top: 0;
      align-self: self-start;
    }
  }
</style>
