---
import type { CollectionEntry } from 'astro:content';
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';

// деструктуризация, потому что коллекция подрузамевает много элементов, а у меня только один (projects.json)
const [collection] = await getCollection('projects');
const { data: projects } = collection;

const allPosts = await getCollection(
  'posts',
  ({ data }) => data.draft !== true
);

const postsByYears = allPosts
  .sort(
    (p1, p2) =>
      new Date(p2.data.created).valueOf() - new Date(p1.data.created).valueOf()
  )
  .reduce(
    (acc, post) => {
      const year = post.data.created.getFullYear();

      if (!acc[year]) {
        acc[year] = [];
      }

      acc[year].push(post);

      return acc;
    },
    {} as Record<string, CollectionEntry<'posts'>[]>
  );

const years = Object.keys(postsByYears).sort((a, b) => Number(b) - Number(a));
---

<Layout title="Нуриль Барадусов" description="Фронтендер из Санкт-Петербурга">
  <main>
    <section>
      <p>
        Фронтендер из <s>Самары</s> → Санкт-Петербурга.
      </p>
      <p>
        Здесь я собираю всё, чем занимаюсь, пишу дневник, иногда публикую конспекты или статьи на темы, которые меня интересуют.
      </p>
      <p>
        Ещё веду список просмотренных <a href="/movies">фильмов</a> и прочитанных <a href="/books">книг</a>.
      </p>
      <p>
        Небольшие, но частые заметки пишу <a href="https://t.me/nuril_notes"> в телеграм-канал</a>.
      </p>
      <p>
        Связь — <a href="https://t.me/baradusov">телеграм</a>, почта <a href="mailto:baradusovnh@gmail.com">baradusovnh@gmail.com</a>, <a href="https://github.com/baradusov">гитхаб</a>.
      </p>
    </section>

    <section>
      <h2 id="b-makings">Делаю</h2>

      <ul>
        {
          projects.map((project) => (
            <li>
              <div>
                <a href={project.url}>{project.name}</a>
                <p>{project.description}</p>
              </div>
            </li>
          ))
        }
      </ul>
    </section>

    <div class="feed">
      <h2 id="b-writings">Пишу</h2>

      {
        years.map((year) => {
          const posts = postsByYears[year];

          return (
            <section>
              <h3 class="year">{year}</h3>

              <ul style={{ gridColumnStart: 2, gridColumnEnd: -1 }}>
                {posts.map((post) => {
                  const dateCreated = new Date(post.data.created);
                  const monthCreated = String(
                    dateCreated.getMonth() + 1
                  ).padStart(2, '0');
                  const dayCreated = String(dateCreated.getDate()).padStart(
                    2,
                    '0'
                  );

                  return (
                    <li>
                      <div style="display:flex;justify-content:space-between;">
                        <a href={`/posts/${post.slug}`}>
                          <h3>{post.data.title}</h3>
                        </a>
                        <time date-time={`${post.data.created}T00:00:00.000Z`}>
                          {dayCreated}.{monthCreated}
                        </time>
                      </div>
                    </li>
                  );
                })}
              </ul>
            </section>
          );
        })
      }
    </div>
  </main>
</Layout>

<style>
  @media (min-width: 601px) {
    .year {
      position: sticky;
      top: 0;
      align-self: self-start;
    }
  }
</style>
