---
import { getCollection } from 'astro:content';

import Layout from '../layouts/Layout.astro';

const unsortedMovies = await getCollection('movies');

const movies = unsortedMovies.sort((a, b) => Number(b.id) - Number(a.id));
const counter = movies.reduce((acc, year) => year.data.length + acc, 0);
---

<Layout title="Фильмы | Нуриль Барадусов" description="Просмотренные фильмы">
  <main>
    <h1>Просмотренные фильмы ({counter})</h1>

    <div>
      {
        movies.map((moviesByYear) => (
          <section>
            <h2>{moviesByYear.id}</h2>

            <ul class="list">
              {moviesByYear.data.map((movie) => {
                return (
                  <li class="list-item">
                    <p class="title">{movie.title}</p>
                    <p>
                      {movie.releaseYear} {movie.originalTitle ? '·' : null}{' '}
                      {movie.originalTitle}
                    </p>
                  </li>
                );
              })}
            </ul>
          </section>
        ))
      }
    </div>
  </main>
</Layout>

<style>
  .list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .list-item {
    margin-bottom: 0;
  }

  .title {
    font-size: 20px;
    font-weight: 700;
  }
</style>
